<!-- <button type="button" (click)= "getAll()" class="btn btn-primary">Primary</button> -->
<button type="button" class="btn btn-primary" (click)="AddCluster()">Add Cluster</button>
<!-- <p>{{responseData}}</p> -->
<!-- <p *ngFor="let data of responseData">{{data}}</p> -->


<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Group Name</th>
        <th scope="col">Cluster Name</th>
        <th scope="col">Env Name</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody  *ngFor="let data of responseData ;let i =index ;let l = count">
        <tr>
            <th [attr.rowspan]="l">{{i + 1}}</th>
            <th [attr.rowspan]="l">{{data.groupName}}</th>
           </tr>
           <tr *ngFor="let clustersData of data.clusters ; let l = count">
            <td>{{clustersData.clusterName}}</td>
            <td>{{clustersData.envName}}</td>

            <td>
                <button type="button" class="btn btn-primary"></button>
            </td>
           </tr>
    </tbody>
  </table>